#nav {
    background-color: #36353d;
}
#brand {
    color: #fdb300;
    font-weight: 400;
    font-style: italic;
}
img {
    max-width: 400px;
    max-height: 300px;
    border-radius: 50px;
}
h1 {
    color: #fdb300;
}
p {
    color: #F2F4E5;
}
.about {
    margin-top: 50px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}
ul > li {
    color: #F2F4E5;
}
ul > li::marker {
    color: #fdb300;
}
#nav > ul > li {
    list-style: none;
}
form {
    height: 20vh;
}
.nav-list {
    margin-right: 50px;
    list-style: none;
}
body {

    background-color: #a72734;
}
#content {
    color: red;
}
h1 {
    color: #fdb300;
}
* {
    color: red;
    font-family: "Libre Baskerville", serif;
}
.content-title {
    font-weight: bold;
    color: #fdb300;
}
#nav a  {
    color: #fdb300;
}
